* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */
.row {
    width: 100%;
}

.row .logo {
    float: left;
    padding: 15px 70px;
}

.row .header {
    text-align: right;
    float: right;
    padding: 30px 100px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
}

.row .header-top span {
    display: inline-block;
    margin: 10px 20px;
}

.row .header-bottom .nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

/* main section start */
/* banner section */
.banner-section {
    position: relative;
    height: 500px;
}

.banner-section .banner-text {
    width: 30%;
    position: absolute;
    top: 250px;
    left: 200px;
}

.banner-section .banner-text h2 {
    font-size: 54px;
    padding: 10px 20px;
    border-left: 2px solid red;
    border-bottom: 2px solid red;
    background-color: rgb(255, 195, 195);
}

.banner-section .banner-text p {
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 20px;
    padding: 10px 20px;
    border-left: 2px solid red;
    border-bottom: 2px solid red;
}

.banner-section .banner-image {
    position: absolute;
    top: 50px;
    right: 200px;
}

.banner-section .banner-image img {
    width: 700px;
}

/* about us section */
.about-us {
    width: 1180px;
    margin: 50px auto;
}

.about-us .about-img img {
    width: 400px;
    float: left;
    padding: 0 20px;
}

.about-us .about-text h2 {
    font-size: 34px;
    padding-bottom: 10px;
}

.about-us .about-text p {
    font-size: 18px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    line-height: 28px;
}

.about-us .about-text a {
    display: inline-block;
    border: 2px solid gray;
    padding: 15px 40px;
    border-radius: 4px;
    margin-top: 20px;
    text-transform: uppercase;
}

/* our products section */
.products {
    width: 1180px;
    margin: 50px auto;
    /* background-color: aqua; */
    /* overflow: hidden; */
    height: 700px;
}

.products-title {
    text-align: center;
}

.products-title h2 {
    font-size: 24px;
    padding-bottom: 20px;
}

.products-title h3 {
    font-size: 34px;
    padding-bottom: 50px;
}

.products-card .card {
    width: 23%;
    float: left;
    text-align: center;
    border-radius: 10px;
    margin: 0 1%;
    /* background-color: brown; */
    overflow: hidden;
    box-shadow: 0px 2px 2px black;
    padding-bottom: 30px;
}

.products-card .card img {
    width: auto;
}

.products-card .card h3 {
    font-size: 24px;
    padding: 10px 0;
}

.products-card .card p {
    font-size: 18px;
    line-height: 24px;
    padding: 0 20px 30px 20px;
}

.products-card .card a {
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 4px;
}

/* team section */
.team {
    width: 1180px;
    height: 500px;
    margin: 0 auto;
}

.team .container .team-img {
    float: left;
    width: 30%;
}

.team .container .team-img h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.team .container .team-img h3 {
    font-size: 28px;
    margin-bottom: 30px;
}

.team .container .team-img img {
    width: 350px;
}

.team .container .team-faq {
    float: left;
    width: 50%;
    margin-left: 50px;
}

.team .container .team-faq details {
    margin-bottom: 50px;
    cursor: pointer;
}

.team .container .team-faq details summary {
    font-size: 28px;

}

/* footer section */
footer {
    background-color: rgb(136, 136, 255);
}

footer .container {
    width: 1180px;
    margin: 0 auto;
    height: 400px;
    padding: 50px 0;
}
footer .container h3{
    font-size: 24px;
    margin-bottom: 25px;
}

footer .container .footer-top .about-company {
    float: left;
    width: 30%;
}

footer .container .footer-top .usefull-links {
    float: left;
    width: 30%;
    padding-left: 100px;
}

footer .container .footer-top .get-in-touch {
    float: left;
    width: 30%;
    padding-left: 100px;
}
.footer-middle{
    text-align: center;
    margin: 50px;
}
.footer-bottom{
    margin: 50px 0;
}
.footer-bottom span{
    display: inline-block;
    width: 48%;
}
.footer-bottom span:nth-child(2){
    text-align: right;
}
/* whatsapp */
.whatsapp{
    position: fixed;
    bottom: 10px;
    right: 10px;
}